@page
@model ShopWebApp.Pages.CreateBoutiqueModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Raisonsociale"></label>
                <input asp-for="Input.Raisonsociale" class="form-control" />
                <span asp-validation-for="Input.BDescriptionL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BDescriptionC"></label>
                <textarea rows="3" asp-for="Input.BDescriptionC" class="form-control"></textarea>
                <span asp-validation-for="Input.BDescriptionC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BDescriptionL"></label>
                <textarea rows="6" asp-for="Input.BDescriptionL" class="form-control"></textarea>
                <span asp-validation-for="Input.BDescriptionL" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
