@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Devenir Vendeur</h1>
    <a class="nav-link text-dark" asp-area="" asp-page="/CreateBoutique">Créer une Boutique</a>
</div>