@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Models
@using Logic.CategorieLogic
@inject CategorieLogic categorieLogic
@model MenuCat
    <form method="post" hidden></form>
<nav class="navbar-expand-sm navbar-expand-md navbar-light bg-light navbar-expand-lg navbar-light py-0">
    <div class="container">
        <div id="shopBar" class="d-flex flex-row justify-content-around flex-wrap mt-1">
            <div class="d-inline-flex">
                <i class="nav-brand fas fa-utensils fa-2x mt-2"></i>
            </div>
            <div id="searchDiv" class="flex-column w-50 mt-2">
                <input id="searchBox" type="text" class="form-control align-self-center" onmouseover="GetListResults(this.value)" onkeyup="GetListResults(this.value)" placeholder="Poisson,Boeuf,Légumes" />
                <ul id="searchUl" class='list-group' onmouseleave="HideListResult()" style="position:absolute;z-index:1;">
                </ul>
            </div>
            
                @await Component.InvokeAsync("Cart")
            
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-expand-md navbar-light bg-light navbar-expand-lg" id="myNavbar">
    <div class="container">
        <div id="mainNav" class='navbar-collapse collapse d-sm-inline-flex justify-content-between'>
            <div class='navbar-nav center'>
                <ul class="d-flex flex-xl-row flex-sm-row flex-lg-row flex-md-row justify-content-center flex-wrap flex-column">
                    @foreach (var item in Model.CatParentsAlim)
                    {
                        <li class="d-inline-flex ml-1">
                            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Categorienom</a>
                            @{var ListCatEnfant = await categorieLogic.GetAllCategoriesEnfantsByParentId(item.Categorieid);
                            }
                        <div class="dropdown-menu" aria-labelledby="servicesDropdown" style="left: 30%; ">
                            <div class="d-flex flex-column justify-content-start flex-wrap">
                                @if (ListCatEnfant.Count > 0)
                                {
                                    @foreach (var catEnfant in ListCatEnfant)
                                    {
                                        <div>
                                            @{var ListSubCat = await categorieLogic.GetAllCategoriesEnfantsByParentId(catEnfant.Categorieid);}
                                        </div>
                                            @if (ListSubCat.Count == 0)
                                            {
                                                <a class="dropdown-item mr-2" href="/Produits/ListeProduits/?catId=@catEnfant.Categorieid&pageIndex=1"><h6>@catEnfant.Categorienom</h6></a>
                                            }
                                    }

                                }
                            </div>
                            <div class="d-flex flex-row justify-content-start flex-wrap mr-1">
                                @if (ListCatEnfant.Count > 0)
                                {
                                    @foreach (var catEnfant in ListCatEnfant)
                                    {
                                        <div>
                                            @{var ListSubCat = await categorieLogic.GetAllCategoriesEnfantsByParentId(catEnfant.Categorieid);}
                                        </div>
                                        <div class="order-first">
                                            @if (ListSubCat.Count > 0)
                                            {
                                                <div class="dropdown-divider"></div>
                                                <div class="flex-column">
                                                    <a class="dropdown-item align-self-center" href="/Produits/ListeProduits/?catId=@catEnfant.Categorieid&pageIndex=1"><h6>@catEnfant.Categorienom</h6></a>
                                                    @foreach (var subCat in ListSubCat)
                                                    {
                                                        <a class="dropdown-item" href="/Produits/ListeProduits/?catId=@subCat.Categorieid&pageIndex=1">@subCat.Categorienom</a>
                                                    }
                                                </div>
                                            }
                                        </div>

                                    }

                                }
                            </div>

                        </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>

    function HideListResult() {
        var searchUl = document.getElementById("searchUl");
        searchUl.hidden = true;
    }
    function GetListResults(searchBoxVal) {
        var token = document.querySelector("[name=__RequestVerificationToken]").value;
        var searchUl = document.getElementById("searchUl");
        searchUl.hidden = false;
        if (searchBoxVal.length == 0) {
            if (searchUl.childElementCount > 0) {
                searchUl.innerHTML = '';
            }
        }
        if (searchBoxVal.length > 0) {
            var query = String(searchBoxVal);
            var xhttp = new XMLHttpRequest();
            xhttp.responseType = 'json';
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = xhttp.response;
                    if (searchUl.childElementCount > 0) {
                        searchUl.innerHTML = '';
                    }
                    if (response.length > 0) {
                     
                        response.forEach(function CreateList(item) {
                            let li = document.createElement('li');
                            searchUl.append(li);
                            let a = document.createElement('a');
                            let b = document.createElement('a');
                            let img = document.createElement('img');
                            let div = document.createElement('div');
                            li.setAttribute("class", "list-group-item d-flex");
                            a.setAttribute("class", "dropdown-item d-flex");
                            b.setAttribute("class", "dropdown-item d-flex");
                            div.setAttribute("class", "dropdown-item d-flex justify-content-center flex-xl-row flex-sm-row flex-lg-row flex-md-row flex-column");
                            img.setAttribute("src", item.lien);
                            img.setAttribute("class", "d-flex");
                            a.setAttribute("href", "/Produits/DetailsProduit/?prodId=" + item.prodid);
                            b.setAttribute("href", "/Produits/DetailsProduit/?prodId=" + item.prodid);
                            b.textContent = item.pNom;
                            li.append(div);
                            div.append(a);
                            div.append(b);
                            a.append(img);
                        })
                    }
                }
                else {
                    console.log(xhttp.status);
                }
            };
            xhttp.open("post", '/Produits/ListeProduits?handler=ProdList&query=' + query, true);
            xhttp.setRequestHeader("XSRF-TOKEN", token)
            xhttp.send();
        }


    }
</script>