USE [master]
GO
/****** Object:  Database [EShop]    Script Date: 26/03/2021 00:21:44 ******/
CREATE DATABASE [EShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVIS]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVIS](
	[PRODID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[BTQID] [int] NOT NULL,
	[A_NOTE] [smallint] NULL,
	[A_DATE] [datetime] NULL,
	[A_TEXTE] [nvarchar](450) NULL,
	[A_REPONSE] [nvarchar](450) NULL,
	[A_REPDATE] [datetime] NULL,
 CONSTRAINT [PK_AVIS] PRIMARY KEY CLUSTERED 
(
	[PRODID] ASC,
	[ID] ASC,
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_DETAIL]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_DETAIL](
	[BTQCMDID] [int] NOT NULL,
	[PRODID] [int] NOT NULL,
	[LIVRAISONID] [int] NOT NULL,
	[B_CMD_QTEPROD] [smallint] NULL,
 CONSTRAINT [PK_BC_DETAIL] PRIMARY KEY CLUSTERED 
(
	[BTQCMDID] ASC,
	[PRODID] ASC,
	[LIVRAISONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOUTIQUE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOUTIQUE](
	[BTQID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[POLITIQUEID] [int] NOT NULL,
	[B_DESCRIPTION_C] [nvarchar](max) NULL,
	[B_DESCRIPTION_L] [nvarchar](max) NULL,
	[RAISONSOCIALE] [nvarchar](255) NULL,
	[SIRET] [nvarchar](14) NULL,
	[SIREN] [nvarchar](9) NULL,
	[BTQTEL] [nvarchar](15) NULL,
	[CODENAF] [nvarchar](5) NULL,
	[CODEBANQUE] [nvarchar](5) NULL,
	[CODEGUICHET] [nvarchar](5) NULL,
	[NUMCOMPTE] [nvarchar](11) NULL,
	[CLERIB] [nvarchar](2) NULL,
	[DOMICILIATION] [nvarchar](24) NULL,
	[IBAN] [nvarchar](27) NULL,
	[BIC] [nvarchar](11) NULL,
	[TITULAIRE] [nvarchar](140) NULL,
	[BTQTMAIL] [nvarchar](255) NULL,
	[BTQMESSAGE] [nvarchar](255) NULL,
	[CA] [int] NULL,
	[NBSALARIE] [int] NULL,
	[SITEWEB] [nvarchar](100) NULL,
	[STATUTJURIDIQUE] [nvarchar](25) NULL,
	[BTQSEO] [nvarchar](450) NULL,
 CONSTRAINT [PK_BOUTIQUE] PRIMARY KEY CLUSTERED 
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOUTIQUECOMMANDE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOUTIQUECOMMANDE](
	[BTQCMDID] [int] IDENTITY(1,1) NOT NULL,
	[CMDETATID] [int] NOT NULL,
	[LITIGEID] [int] NULL,
	[CLTCMDID] [int] NULL,
	[BTQID] [int] NOT NULL,
	[BTQCMDDATECREA] [datetime] NULL,
	[BTQCMDDATEDEBUT] [datetime] NULL,
	[BTQCMDDATEFIN] [datetime] NULL,
 CONSTRAINT [PK_BOUTIQUECOMMANDE] PRIMARY KEY CLUSTERED 
(
	[BTQCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[CATEGORIEID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIENOM] [nvarchar](255) NULL,
 CONSTRAINT [PK_CATEGORIE] PRIMARY KEY CLUSTERED 
(
	[CATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATNAV]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATNAV](
	[CATEGORIEID] [int] NOT NULL,
	[CAT_CATEGORIEID] [int] NOT NULL,
 CONSTRAINT [PK_CATNAV] PRIMARY KEY CLUSTERED 
(
	[CATEGORIEID] ASC,
	[CAT_CATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_DETAIL]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_DETAIL](
	[CLTCMDID] [int] NOT NULL,
	[PRODID] [int] NOT NULL,
	[LIVRAISONID] [int] NOT NULL,
	[C_CMD_QTEPROD] [smallint] NULL,
 CONSTRAINT [PK_CC_DETAIL] PRIMARY KEY CLUSTERED 
(
	[CLTCMDID] ASC,
	[PRODID] ASC,
	[LIVRAISONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIVILITE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIVILITE](
	[CIVID] [int] IDENTITY(1,1) NOT NULL,
	[ABREGE] [nvarchar](5) NULL,
	[COMPLET] [nvarchar](15) NULL,
 CONSTRAINT [PK_CIVILITE] PRIMARY KEY CLUSTERED 
(
	[CIVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTCOMMANDE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTCOMMANDE](
	[CLTCMDID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[CMDETATID] [int] NOT NULL,
	[PAIEMENTID] [int] NULL,
	[FACTUREID] [int] NULL,
	[CLTCMDDATE] [datetime] NULL,
	[CLTCMDDATEDEBUT] [datetime] NULL,
	[CLTCMDDATEFIN] [datetime] NULL,
 CONSTRAINT [PK_CLIENTCOMMANDE] PRIMARY KEY CLUSTERED 
(
	[CLTCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMDETAT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMDETAT](
	[CMDETATID] [int] IDENTITY(1,1) NOT NULL,
	[CMDETAT] [varchar](15) NULL,
 CONSTRAINT [PK_CMDETAT] PRIMARY KEY CLUSTERED 
(
	[CMDETATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ECHANGE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECHANGE](
	[ID] [int] NOT NULL,
	[PRODID] [int] NOT NULL,
	[BTQID] [int] NOT NULL,
	[E_QUEST] [nvarchar](450) NULL,
	[E_REP] [nvarchar](450) NULL,
	[E_QUESTDATE] [datetime] NULL,
	[E_REPDATE] [datetime] NULL,
 CONSTRAINT [PK_ECHANGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[PRODID] ASC,
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE](
	[FACTUREID] [int] IDENTITY(1,1) NOT NULL,
	[CLTCMDID] [int] NOT NULL,
	[FACTLIEN] [nvarchar](max) NULL,
 CONSTRAINT [PK_FACTURE] PRIMARY KEY CLUSTERED 
(
	[FACTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDENTIFICATION]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDENTIFICATION](
	[IDENTID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[CIVID] [int] NOT NULL,
	[NOM] [nvarchar](70) NULL,
	[PRENOM] [nvarchar](70) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[TEL] [nvarchar](15) NULL,
 CONSTRAINT [PK_IDENTIFICATION] PRIMARY KEY CLUSTERED 
(
	[IDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LITIGE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LITIGE](
	[LITIGEID] [int] IDENTITY(1,1) NOT NULL,
	[REMBOURSEMENTID] [int] NULL,
	[REMPID] [int] NULL,
	[BTQCMDID] [int] NOT NULL,
	[LTGMSG] [nvarchar](max) NULL,
 CONSTRAINT [PK_LITIGE] PRIMARY KEY CLUSTERED 
(
	[LITIGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRAISON]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRAISON](
	[LIVRAISONID] [int] IDENTITY(1,1) NOT NULL,
	[LVRTYPID] [int] NOT NULL,
	[LVRETATID] [int] NOT NULL,
	[LOCALISATIONID] [int] NOT NULL,
	[SUIVINUM] [nvarchar](max) NULL,
	[SUIVILIEN] [nvarchar](max) NULL,
	[DATEENVOI] [datetime] NULL,
 CONSTRAINT [PK_LIVRAISON] PRIMARY KEY CLUSTERED 
(
	[LIVRAISONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRAISONETAT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRAISONETAT](
	[LVRETATID] [int] IDENTITY(1,1) NOT NULL,
	[LVRETAT] [nvarchar](15) NULL,
 CONSTRAINT [PK_LIVRAISONETAT] PRIMARY KEY CLUSTERED 
(
	[LVRETATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRAISONTYPE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRAISONTYPE](
	[LVRTYPID] [int] IDENTITY(1,1) NOT NULL,
	[LVRDESIGNATION] [nvarchar](15) NULL,
	[LVRDELAI] [smallint] NULL,
	[LVRCOUT] [decimal](9, 2) NULL,
 CONSTRAINT [PK_LIVRAISONTYPE] PRIMARY KEY CLUSTERED 
(
	[LVRTYPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALISATION]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALISATION](
	[LOCALISATIONID] [int] IDENTITY(1,1) NOT NULL,
	[BTQID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[ADRESSE] [nvarchar](255) NULL,
	[RUE] [nvarchar](255) NULL,
	[NUM] [nvarchar](255) NULL,
	[VILLE] [nvarchar](255) NULL,
	[CODEPOSTAL] [nvarchar](255) NULL,
	[PAYS] [nvarchar](255) NULL,
	[PR_NOM] [nvarchar](255) NULL,
 CONSTRAINT [PK_LOCALISATION] PRIMARY KEY CLUSTERED 
(
	[LOCALISATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDIA]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIA](
	[MEDIAID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIEID] [int] NULL,
	[PRODID] [int] NULL,
	[LITIGEID] [int] NULL,
	[BTQID] [int] NULL,
	[LIEN] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[IMAGE] [bit] NULL,
	[VIDEO] [bit] NULL,
	[HTML] [nvarchar](max) NULL,
 CONSTRAINT [PK_MEDIA] PRIMARY KEY CLUSTERED 
(
	[MEDIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOYENDEPAIEMENT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOYENDEPAIEMENT](
	[MDPID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[CB_NUM] [nvarchar](16) NULL,
	[CVC] [nvarchar](4) NULL,
	[DATEEXP] [datetime] NULL,
	[CB_TITULAIRE] [nvarchar](140) NULL,
	[CB_TYPE] [nvarchar](30) NULL,
 CONSTRAINT [PK_MOYENDEPAIEMENT] PRIMARY KEY CLUSTERED 
(
	[MDPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[P_DETAIL]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[P_DETAIL](
	[PANIERID] [int] NOT NULL,
	[PRODID] [int] NOT NULL,
	[P_QTEPROD] [smallint] NULL,
 CONSTRAINT [PK_P_DETAIL] PRIMARY KEY CLUSTERED 
(
	[PANIERID] ASC,
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIE_TRANSACT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIE_TRANSACT](
	[PAIEMENTID] [int] NOT NULL,
	[TRANSACTIONID] [int] NOT NULL,
 CONSTRAINT [PK_PAIE_TRANSACT] PRIMARY KEY CLUSTERED 
(
	[PAIEMENTID] ASC,
	[TRANSACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIEMENT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIEMENT](
	[PAIEMENTID] [int] IDENTITY(1,1) NOT NULL,
	[MDPID] [int] NOT NULL,
	[CLTCMDID] [int] NOT NULL,
	[P_MONTANT] [decimal](9, 2) NULL,
 CONSTRAINT [PK_PAIEMENT] PRIMARY KEY CLUSTERED 
(
	[PAIEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PANIER]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PANIER](
	[PANIERID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
 CONSTRAINT [PK_PANIER] PRIMARY KEY CLUSTERED 
(
	[PANIERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTENAIRE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTENAIRE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PANIERID] [int] NULL,
	[UserName] [nvarchar](max) NULL,
	[NormalizedUserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[NormalizedEmail] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_PARTENAIRE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLITIQUE]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLITIQUE](
	[POLITIQUEID] [int] IDENTITY(1,1) NOT NULL,
	[ECHANGE] [bit] NULL,
	[REMBOURSEMENT] [bit] NULL,
	[PLTQDESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK_POLITIQUE] PRIMARY KEY CLUSTERED 
(
	[POLITIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[PRODID] [int] NOT NULL,
	[BTQID] [int] NOT NULL,
	[CATEGORIEID] [int] NOT NULL,
	[LVRTYPID] [int] NOT NULL,
	[PRIX] [decimal](9, 2) NULL,
	[P_NOM] [nvarchar](30) NULL,
	[P_DESCRIPTION_C] [nvarchar](450) NULL,
	[P_DESCRIPTION_L] [nvarchar](max) NULL,
	[STOCK] [smallint] NULL,
	[DISPONIBILITE] [smallint] NULL,
	[RABAIS] [smallint] NULL,
	[PREPARATION] [smallint] NULL,
	[P_SEO] [nvarchar](450) NULL,
	[P_META_KEYWORDS] [nvarchar](450) NULL,
	[P_META_TITRE] [nvarchar](100) NULL,
	[PUBLIER] [bit] NULL,
 CONSTRAINT [PK_PRODUIT] PRIMARY KEY CLUSTERED 
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELAIS_LOC_B]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELAIS_LOC_B](
	[BTQID] [int] NOT NULL,
	[LOCALISATIONID] [int] NOT NULL,
 CONSTRAINT [PK_RELAIS_LOC_B] PRIMARY KEY CLUSTERED 
(
	[BTQID] ASC,
	[LOCALISATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMB_TRANSACT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMB_TRANSACT](
	[REMBOURSEMENTID] [int] NOT NULL,
	[TRANSACTIONID] [int] NOT NULL,
 CONSTRAINT [PK_REMB_TRANSACT] PRIMARY KEY CLUSTERED 
(
	[REMBOURSEMENTID] ASC,
	[TRANSACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMBOURSEMENT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMBOURSEMENT](
	[REMBOURSEMENTID] [int] IDENTITY(1,1) NOT NULL,
	[LITIGEID] [int] NOT NULL,
	[R_MONTANT] [decimal](9, 2) NULL,
 CONSTRAINT [PK_REMBOURSEMENT] PRIMARY KEY CLUSTERED 
(
	[REMBOURSEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMPLACEMENT]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMPLACEMENT](
	[REMPID] [int] IDENTITY(1,1) NOT NULL,
	[LITIGEID] [int] NOT NULL,
	[R_SUIVINUM] [nvarchar](max) NULL,
	[R_SUIVILIEN] [nvarchar](max) NULL,
 CONSTRAINT [PK_REMPLACEMENT] PRIMARY KEY CLUSTERED 
(
	[REMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedName] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[TRANSACTIONID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](100) NULL,
	[TYPE] [smallint] NULL,
	[MODE] [smallint] NULL,
	[TRANSACTSTATUT] [smallint] NULL,
	[TRANSACTCREA] [datetime] NULL,
	[TRANSACTMODIF] [datetime] NULL,
	[TRANSACTCONTENU] [nvarchar](max) NULL,
 CONSTRAINT [PK_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[TRANSACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 26/03/2021 00:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [AVIS_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [AVIS_FK] ON [dbo].[AVIS]
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AVIS2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [AVIS2_FK] ON [dbo].[AVIS]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AVIS3_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [AVIS3_FK] ON [dbo].[AVIS]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COMPORTER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [COMPORTER_FK] ON [dbo].[BC_DETAIL]
(
	[BTQCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COMPORTER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [COMPORTER2_FK] ON [dbo].[BC_DETAIL]
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COMPORTER3_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [COMPORTER3_FK] ON [dbo].[BC_DETAIL]
(
	[LIVRAISONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [APPLIQUER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [APPLIQUER_FK] ON [dbo].[BOUTIQUE]
(
	[POLITIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CREER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [CREER_FK] ON [dbo].[BOUTIQUE]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ASSOCIER_FK] ON [dbo].[BOUTIQUECOMMANDE]
(
	[CLTCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COMPRENDRE_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [COMPRENDRE_FK] ON [dbo].[BOUTIQUECOMMANDE]
(
	[CMDETATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ENGENDRER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ENGENDRER2_FK] ON [dbo].[BOUTIQUECOMMANDE]
(
	[LITIGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECEVOIR_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [RECEVOIR_FK] ON [dbo].[BOUTIQUECOMMANDE]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [REGROUPER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [REGROUPER_FK] ON [dbo].[CATNAV]
(
	[CATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [REGROUPER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [REGROUPER2_FK] ON [dbo].[CATNAV]
(
	[CAT_CATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LISTER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [LISTER_FK] ON [dbo].[CC_DETAIL]
(
	[CLTCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LISTER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [LISTER2_FK] ON [dbo].[CC_DETAIL]
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LISTER3_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [LISTER3_FK] ON [dbo].[CC_DETAIL]
(
	[LIVRAISONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DETENIR_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DETENIR_FK] ON [dbo].[CLIENTCOMMANDE]
(
	[CMDETATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GENERER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [GENERER2_FK] ON [dbo].[CLIENTCOMMANDE]
(
	[FACTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PASSER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [PASSER_FK] ON [dbo].[CLIENTCOMMANDE]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PRENDRE2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [PRENDRE2_FK] ON [dbo].[CLIENTCOMMANDE]
(
	[PAIEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ECHANGE_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ECHANGE_FK] ON [dbo].[ECHANGE]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ECHANGE2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ECHANGE2_FK] ON [dbo].[ECHANGE]
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ECHANGE3_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ECHANGE3_FK] ON [dbo].[ECHANGE]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GENERER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [GENERER_FK] ON [dbo].[FACTURE]
(
	[CLTCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ETRE_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ETRE_FK] ON [dbo].[IDENTIFICATION]
(
	[CIVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDENTIFIER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [IDENTIFIER_FK] ON [dbo].[IDENTIFICATION]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DONNER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DONNER2_FK] ON [dbo].[LITIGE]
(
	[REMBOURSEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ENGENDRER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ENGENDRER_FK] ON [dbo].[LITIGE]
(
	[BTQCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ENVOYER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ENVOYER2_FK] ON [dbo].[LITIGE]
(
	[REMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CARACTERISER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [CARACTERISER_FK] ON [dbo].[LIVRAISON]
(
	[LVRETATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DEFINIR_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DEFINIR_FK] ON [dbo].[LIVRAISON]
(
	[LVRTYPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DESTINER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DESTINER_FK] ON [dbo].[LIVRAISON]
(
	[LOCALISATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [POSSEDER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [POSSEDER_FK] ON [dbo].[LOCALISATION]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SITUER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [SITUER_FK] ON [dbo].[LOCALISATION]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BOUTMEDIA_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [BOUTMEDIA_FK] ON [dbo].[MEDIA]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CATMEDIA_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [CATMEDIA_FK] ON [dbo].[MEDIA]
(
	[CATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LTGMEDIA_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [LTGMEDIA_FK] ON [dbo].[MEDIA]
(
	[LITIGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PRODMEDIA_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [PRODMEDIA_FK] ON [dbo].[MEDIA]
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UTILISER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [UTILISER_FK] ON [dbo].[MOYENDEPAIEMENT]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONTENIR_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [CONTENIR_FK] ON [dbo].[P_DETAIL]
(
	[PANIERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONTENIR2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [CONTENIR2_FK] ON [dbo].[P_DETAIL]
(
	[PRODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRACER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [TRACER_FK] ON [dbo].[PAIE_TRANSACT]
(
	[PAIEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRACER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [TRACER2_FK] ON [dbo].[PAIE_TRANSACT]
(
	[TRANSACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PRENDRE_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [PRENDRE_FK] ON [dbo].[PAIEMENT]
(
	[CLTCMDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [REGLER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [REGLER_FK] ON [dbo].[PAIEMENT]
(
	[MDPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DISPOSER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DISPOSER_FK] ON [dbo].[PANIER]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DISPOSER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DISPOSER2_FK] ON [dbo].[PARTENAIRE]
(
	[PANIERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [APPARTENIR_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [APPARTENIR_FK] ON [dbo].[PRODUIT]
(
	[CATEGORIEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AVOIR_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [AVOIR_FK] ON [dbo].[PRODUIT]
(
	[LVRTYPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VENDRE_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [VENDRE_FK] ON [dbo].[PRODUIT]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PROPOSER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [PROPOSER_FK] ON [dbo].[RELAIS_LOC_B]
(
	[BTQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PROPOSER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [PROPOSER2_FK] ON [dbo].[RELAIS_LOC_B]
(
	[LOCALISATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRAQUER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [TRAQUER_FK] ON [dbo].[REMB_TRANSACT]
(
	[REMBOURSEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRAQUER2_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [TRAQUER2_FK] ON [dbo].[REMB_TRANSACT]
(
	[TRANSACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DONNER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [DONNER_FK] ON [dbo].[REMBOURSEMENT]
(
	[LITIGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ENVOYER_FK]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [ENVOYER_FK] ON [dbo].[REMPLACEMENT]
(
	[LITIGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [dbo].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 26/03/2021 00:21:45 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AVIS]  WITH CHECK ADD  CONSTRAINT [FK_AVIS_AVIS_PRODUIT] FOREIGN KEY([PRODID])
REFERENCES [dbo].[PRODUIT] ([PRODID])
GO
ALTER TABLE [dbo].[AVIS] CHECK CONSTRAINT [FK_AVIS_AVIS_PRODUIT]
GO
ALTER TABLE [dbo].[AVIS]  WITH CHECK ADD  CONSTRAINT [FK_AVIS_AVIS2_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[AVIS] CHECK CONSTRAINT [FK_AVIS_AVIS2_PARTENAI]
GO
ALTER TABLE [dbo].[AVIS]  WITH CHECK ADD  CONSTRAINT [FK_AVIS_AVIS3_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[AVIS] CHECK CONSTRAINT [FK_AVIS_AVIS3_BOUTIQUE]
GO
ALTER TABLE [dbo].[BC_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BC_DETAI_COMPORTER_BOUTIQUE] FOREIGN KEY([BTQCMDID])
REFERENCES [dbo].[BOUTIQUECOMMANDE] ([BTQCMDID])
GO
ALTER TABLE [dbo].[BC_DETAIL] CHECK CONSTRAINT [FK_BC_DETAI_COMPORTER_BOUTIQUE]
GO
ALTER TABLE [dbo].[BC_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BC_DETAI_COMPORTER_LIVRAISO] FOREIGN KEY([LIVRAISONID])
REFERENCES [dbo].[LIVRAISON] ([LIVRAISONID])
GO
ALTER TABLE [dbo].[BC_DETAIL] CHECK CONSTRAINT [FK_BC_DETAI_COMPORTER_LIVRAISO]
GO
ALTER TABLE [dbo].[BC_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BC_DETAI_COMPORTER_PRODUIT] FOREIGN KEY([PRODID])
REFERENCES [dbo].[PRODUIT] ([PRODID])
GO
ALTER TABLE [dbo].[BC_DETAIL] CHECK CONSTRAINT [FK_BC_DETAI_COMPORTER_PRODUIT]
GO
ALTER TABLE [dbo].[BOUTIQUE]  WITH CHECK ADD  CONSTRAINT [FK_BOUTIQUE_APPLIQUER_POLITIQU] FOREIGN KEY([POLITIQUEID])
REFERENCES [dbo].[POLITIQUE] ([POLITIQUEID])
GO
ALTER TABLE [dbo].[BOUTIQUE] CHECK CONSTRAINT [FK_BOUTIQUE_APPLIQUER_POLITIQU]
GO
ALTER TABLE [dbo].[BOUTIQUE]  WITH CHECK ADD  CONSTRAINT [FK_BOUTIQUE_CREER_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[BOUTIQUE] CHECK CONSTRAINT [FK_BOUTIQUE_CREER_PARTENAI]
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_BOUTIQUE_ASSOCIER_CLIENTCO] FOREIGN KEY([CLTCMDID])
REFERENCES [dbo].[CLIENTCOMMANDE] ([CLTCMDID])
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE] CHECK CONSTRAINT [FK_BOUTIQUE_ASSOCIER_CLIENTCO]
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_BOUTIQUE_COMPRENDR_CMDETAT] FOREIGN KEY([CMDETATID])
REFERENCES [dbo].[CMDETAT] ([CMDETATID])
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE] CHECK CONSTRAINT [FK_BOUTIQUE_COMPRENDR_CMDETAT]
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_BOUTIQUE_ENGENDRER_LITIGE] FOREIGN KEY([LITIGEID])
REFERENCES [dbo].[LITIGE] ([LITIGEID])
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE] CHECK CONSTRAINT [FK_BOUTIQUE_ENGENDRER_LITIGE]
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_BOUTIQUE_RECEVOIR_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[BOUTIQUECOMMANDE] CHECK CONSTRAINT [FK_BOUTIQUE_RECEVOIR_BOUTIQUE]
GO
ALTER TABLE [dbo].[CATNAV]  WITH CHECK ADD  CONSTRAINT [FK_CATNAV_REGROUPER_CATEGORI1] FOREIGN KEY([CATEGORIEID])
REFERENCES [dbo].[CATEGORIE] ([CATEGORIEID])
GO
ALTER TABLE [dbo].[CATNAV] CHECK CONSTRAINT [FK_CATNAV_REGROUPER_CATEGORI1]
GO
ALTER TABLE [dbo].[CATNAV]  WITH CHECK ADD  CONSTRAINT [FK_CATNAV_REGROUPER_CATEGORI2] FOREIGN KEY([CAT_CATEGORIEID])
REFERENCES [dbo].[CATEGORIE] ([CATEGORIEID])
GO
ALTER TABLE [dbo].[CATNAV] CHECK CONSTRAINT [FK_CATNAV_REGROUPER_CATEGORI2]
GO
ALTER TABLE [dbo].[CC_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_CC_DETAI_LISTER_CLIENTCO] FOREIGN KEY([CLTCMDID])
REFERENCES [dbo].[CLIENTCOMMANDE] ([CLTCMDID])
GO
ALTER TABLE [dbo].[CC_DETAIL] CHECK CONSTRAINT [FK_CC_DETAI_LISTER_CLIENTCO]
GO
ALTER TABLE [dbo].[CC_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_CC_DETAI_LISTER2_PRODUIT] FOREIGN KEY([PRODID])
REFERENCES [dbo].[PRODUIT] ([PRODID])
GO
ALTER TABLE [dbo].[CC_DETAIL] CHECK CONSTRAINT [FK_CC_DETAI_LISTER2_PRODUIT]
GO
ALTER TABLE [dbo].[CC_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_CC_DETAI_LISTER3_LIVRAISO] FOREIGN KEY([LIVRAISONID])
REFERENCES [dbo].[LIVRAISON] ([LIVRAISONID])
GO
ALTER TABLE [dbo].[CC_DETAIL] CHECK CONSTRAINT [FK_CC_DETAI_LISTER3_LIVRAISO]
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTCO_DETENIR_CMDETAT] FOREIGN KEY([CMDETATID])
REFERENCES [dbo].[CMDETAT] ([CMDETATID])
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE] CHECK CONSTRAINT [FK_CLIENTCO_DETENIR_CMDETAT]
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTCO_GENERER2_FACTURE] FOREIGN KEY([FACTUREID])
REFERENCES [dbo].[FACTURE] ([FACTUREID])
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE] CHECK CONSTRAINT [FK_CLIENTCO_GENERER2_FACTURE]
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTCO_PASSER_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE] CHECK CONSTRAINT [FK_CLIENTCO_PASSER_PARTENAI]
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTCO_PRENDRE2_PAIEMENT] FOREIGN KEY([PAIEMENTID])
REFERENCES [dbo].[PAIEMENT] ([PAIEMENTID])
GO
ALTER TABLE [dbo].[CLIENTCOMMANDE] CHECK CONSTRAINT [FK_CLIENTCO_PRENDRE2_PAIEMENT]
GO
ALTER TABLE [dbo].[ECHANGE]  WITH CHECK ADD  CONSTRAINT [FK_ECHANGE_ECHANGE_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[ECHANGE] CHECK CONSTRAINT [FK_ECHANGE_ECHANGE_PARTENAI]
GO
ALTER TABLE [dbo].[ECHANGE]  WITH CHECK ADD  CONSTRAINT [FK_ECHANGE_ECHANGE2_PRODUIT] FOREIGN KEY([PRODID])
REFERENCES [dbo].[PRODUIT] ([PRODID])
GO
ALTER TABLE [dbo].[ECHANGE] CHECK CONSTRAINT [FK_ECHANGE_ECHANGE2_PRODUIT]
GO
ALTER TABLE [dbo].[ECHANGE]  WITH CHECK ADD  CONSTRAINT [FK_ECHANGE_ECHANGE3_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[ECHANGE] CHECK CONSTRAINT [FK_ECHANGE_ECHANGE3_BOUTIQUE]
GO
ALTER TABLE [dbo].[FACTURE]  WITH CHECK ADD  CONSTRAINT [FK_FACTURE_GENERER_CLIENTCO] FOREIGN KEY([CLTCMDID])
REFERENCES [dbo].[CLIENTCOMMANDE] ([CLTCMDID])
GO
ALTER TABLE [dbo].[FACTURE] CHECK CONSTRAINT [FK_FACTURE_GENERER_CLIENTCO]
GO
ALTER TABLE [dbo].[IDENTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_IDENTIFI_ETRE_CIVILITE] FOREIGN KEY([CIVID])
REFERENCES [dbo].[CIVILITE] ([CIVID])
GO
ALTER TABLE [dbo].[IDENTIFICATION] CHECK CONSTRAINT [FK_IDENTIFI_ETRE_CIVILITE]
GO
ALTER TABLE [dbo].[IDENTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_IDENTIFI_IDENTIFIE_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[IDENTIFICATION] CHECK CONSTRAINT [FK_IDENTIFI_IDENTIFIE_PARTENAI]
GO
ALTER TABLE [dbo].[LITIGE]  WITH CHECK ADD  CONSTRAINT [FK_LITIGE_DONNER2_REMBOURS] FOREIGN KEY([REMBOURSEMENTID])
REFERENCES [dbo].[REMBOURSEMENT] ([REMBOURSEMENTID])
GO
ALTER TABLE [dbo].[LITIGE] CHECK CONSTRAINT [FK_LITIGE_DONNER2_REMBOURS]
GO
ALTER TABLE [dbo].[LITIGE]  WITH CHECK ADD  CONSTRAINT [FK_LITIGE_ENGENDRER_BOUTIQUE] FOREIGN KEY([BTQCMDID])
REFERENCES [dbo].[BOUTIQUECOMMANDE] ([BTQCMDID])
GO
ALTER TABLE [dbo].[LITIGE] CHECK CONSTRAINT [FK_LITIGE_ENGENDRER_BOUTIQUE]
GO
ALTER TABLE [dbo].[LITIGE]  WITH CHECK ADD  CONSTRAINT [FK_LITIGE_ENVOYER2_REMPLACE] FOREIGN KEY([REMPID])
REFERENCES [dbo].[REMPLACEMENT] ([REMPID])
GO
ALTER TABLE [dbo].[LITIGE] CHECK CONSTRAINT [FK_LITIGE_ENVOYER2_REMPLACE]
GO
ALTER TABLE [dbo].[LIVRAISON]  WITH CHECK ADD  CONSTRAINT [FK_LIVRAISO_CARACTERI_LIVRAISO] FOREIGN KEY([LVRETATID])
REFERENCES [dbo].[LIVRAISONETAT] ([LVRETATID])
GO
ALTER TABLE [dbo].[LIVRAISON] CHECK CONSTRAINT [FK_LIVRAISO_CARACTERI_LIVRAISO]
GO
ALTER TABLE [dbo].[LIVRAISON]  WITH CHECK ADD  CONSTRAINT [FK_LIVRAISO_DEFINIR_LIVRAISO] FOREIGN KEY([LVRTYPID])
REFERENCES [dbo].[LIVRAISONTYPE] ([LVRTYPID])
GO
ALTER TABLE [dbo].[LIVRAISON] CHECK CONSTRAINT [FK_LIVRAISO_DEFINIR_LIVRAISO]
GO
ALTER TABLE [dbo].[LIVRAISON]  WITH CHECK ADD  CONSTRAINT [FK_LIVRAISO_DESTINER_LOCALISA] FOREIGN KEY([LOCALISATIONID])
REFERENCES [dbo].[LOCALISATION] ([LOCALISATIONID])
GO
ALTER TABLE [dbo].[LIVRAISON] CHECK CONSTRAINT [FK_LIVRAISO_DESTINER_LOCALISA]
GO
ALTER TABLE [dbo].[LOCALISATION]  WITH CHECK ADD  CONSTRAINT [FK_LOCALISA_POSSEDER_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[LOCALISATION] CHECK CONSTRAINT [FK_LOCALISA_POSSEDER_PARTENAI]
GO
ALTER TABLE [dbo].[LOCALISATION]  WITH CHECK ADD  CONSTRAINT [FK_LOCALISA_SITUER_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[LOCALISATION] CHECK CONSTRAINT [FK_LOCALISA_SITUER_BOUTIQUE]
GO
ALTER TABLE [dbo].[MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_BOUTMEDIA_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[MEDIA] CHECK CONSTRAINT [FK_MEDIA_BOUTMEDIA_BOUTIQUE]
GO
ALTER TABLE [dbo].[MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_CATMEDIA_CATEGORI] FOREIGN KEY([CATEGORIEID])
REFERENCES [dbo].[CATEGORIE] ([CATEGORIEID])
GO
ALTER TABLE [dbo].[MEDIA] CHECK CONSTRAINT [FK_MEDIA_CATMEDIA_CATEGORI]
GO
ALTER TABLE [dbo].[MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_LTGMEDIA_LITIGE] FOREIGN KEY([LITIGEID])
REFERENCES [dbo].[LITIGE] ([LITIGEID])
GO
ALTER TABLE [dbo].[MEDIA] CHECK CONSTRAINT [FK_MEDIA_LTGMEDIA_LITIGE]
GO
ALTER TABLE [dbo].[MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_PRODMEDIA_PRODUIT] FOREIGN KEY([PRODID])
REFERENCES [dbo].[PRODUIT] ([PRODID])
GO
ALTER TABLE [dbo].[MEDIA] CHECK CONSTRAINT [FK_MEDIA_PRODMEDIA_PRODUIT]
GO
ALTER TABLE [dbo].[MOYENDEPAIEMENT]  WITH CHECK ADD  CONSTRAINT [FK_MOYENDEP_UTILISER_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[MOYENDEPAIEMENT] CHECK CONSTRAINT [FK_MOYENDEP_UTILISER_PARTENAI]
GO
ALTER TABLE [dbo].[P_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_P_DETAIL_CONTENIR_PANIER] FOREIGN KEY([PANIERID])
REFERENCES [dbo].[PANIER] ([PANIERID])
GO
ALTER TABLE [dbo].[P_DETAIL] CHECK CONSTRAINT [FK_P_DETAIL_CONTENIR_PANIER]
GO
ALTER TABLE [dbo].[P_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_P_DETAIL_CONTENIR2_PRODUIT] FOREIGN KEY([PRODID])
REFERENCES [dbo].[PRODUIT] ([PRODID])
GO
ALTER TABLE [dbo].[P_DETAIL] CHECK CONSTRAINT [FK_P_DETAIL_CONTENIR2_PRODUIT]
GO
ALTER TABLE [dbo].[PAIE_TRANSACT]  WITH CHECK ADD  CONSTRAINT [FK_PAIE_TRA_TRACER_PAIEMENT] FOREIGN KEY([PAIEMENTID])
REFERENCES [dbo].[PAIEMENT] ([PAIEMENTID])
GO
ALTER TABLE [dbo].[PAIE_TRANSACT] CHECK CONSTRAINT [FK_PAIE_TRA_TRACER_PAIEMENT]
GO
ALTER TABLE [dbo].[PAIE_TRANSACT]  WITH CHECK ADD  CONSTRAINT [FK_PAIE_TRA_TRACER2_TRANSACT] FOREIGN KEY([TRANSACTIONID])
REFERENCES [dbo].[TRANSACTION] ([TRANSACTIONID])
GO
ALTER TABLE [dbo].[PAIE_TRANSACT] CHECK CONSTRAINT [FK_PAIE_TRA_TRACER2_TRANSACT]
GO
ALTER TABLE [dbo].[PAIEMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAIEMENT_PRENDRE_CLIENTCO] FOREIGN KEY([CLTCMDID])
REFERENCES [dbo].[CLIENTCOMMANDE] ([CLTCMDID])
GO
ALTER TABLE [dbo].[PAIEMENT] CHECK CONSTRAINT [FK_PAIEMENT_PRENDRE_CLIENTCO]
GO
ALTER TABLE [dbo].[PAIEMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAIEMENT_REGLER_MOYENDEP] FOREIGN KEY([MDPID])
REFERENCES [dbo].[MOYENDEPAIEMENT] ([MDPID])
GO
ALTER TABLE [dbo].[PAIEMENT] CHECK CONSTRAINT [FK_PAIEMENT_REGLER_MOYENDEP]
GO
ALTER TABLE [dbo].[PANIER]  WITH CHECK ADD  CONSTRAINT [FK_PANIER_DISPOSER_PARTENAI] FOREIGN KEY([ID])
REFERENCES [dbo].[PARTENAIRE] ([Id])
GO
ALTER TABLE [dbo].[PANIER] CHECK CONSTRAINT [FK_PANIER_DISPOSER_PARTENAI]
GO
ALTER TABLE [dbo].[PARTENAIRE]  WITH CHECK ADD  CONSTRAINT [FK_PARTENAI_DISPOSER2_PANIER] FOREIGN KEY([PANIERID])
REFERENCES [dbo].[PANIER] ([PANIERID])
GO
ALTER TABLE [dbo].[PARTENAIRE] CHECK CONSTRAINT [FK_PARTENAI_DISPOSER2_PANIER]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUIT_APPARTENI_CATEGORI] FOREIGN KEY([CATEGORIEID])
REFERENCES [dbo].[CATEGORIE] ([CATEGORIEID])
GO
ALTER TABLE [dbo].[PRODUIT] CHECK CONSTRAINT [FK_PRODUIT_APPARTENI_CATEGORI]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUIT_AVOIR_LIVRAISO] FOREIGN KEY([LVRTYPID])
REFERENCES [dbo].[LIVRAISONTYPE] ([LVRTYPID])
GO
ALTER TABLE [dbo].[PRODUIT] CHECK CONSTRAINT [FK_PRODUIT_AVOIR_LIVRAISO]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUIT_VENDRE_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[PRODUIT] CHECK CONSTRAINT [FK_PRODUIT_VENDRE_BOUTIQUE]
GO
ALTER TABLE [dbo].[RELAIS_LOC_B]  WITH CHECK ADD  CONSTRAINT [FK_RELAIS_L_PROPOSER_BOUTIQUE] FOREIGN KEY([BTQID])
REFERENCES [dbo].[BOUTIQUE] ([BTQID])
GO
ALTER TABLE [dbo].[RELAIS_LOC_B] CHECK CONSTRAINT [FK_RELAIS_L_PROPOSER_BOUTIQUE]
GO
ALTER TABLE [dbo].[RELAIS_LOC_B]  WITH CHECK ADD  CONSTRAINT [FK_RELAIS_L_PROPOSER2_LOCALISA] FOREIGN KEY([LOCALISATIONID])
REFERENCES [dbo].[LOCALISATION] ([LOCALISATIONID])
GO
ALTER TABLE [dbo].[RELAIS_LOC_B] CHECK CONSTRAINT [FK_RELAIS_L_PROPOSER2_LOCALISA]
GO
ALTER TABLE [dbo].[REMB_TRANSACT]  WITH CHECK ADD  CONSTRAINT [FK_REMB_TRA_TRAQUER_REMBOURS] FOREIGN KEY([REMBOURSEMENTID])
REFERENCES [dbo].[REMBOURSEMENT] ([REMBOURSEMENTID])
GO
ALTER TABLE [dbo].[REMB_TRANSACT] CHECK CONSTRAINT [FK_REMB_TRA_TRAQUER_REMBOURS]
GO
ALTER TABLE [dbo].[REMB_TRANSACT]  WITH CHECK ADD  CONSTRAINT [FK_REMB_TRA_TRAQUER2_TRANSACT] FOREIGN KEY([TRANSACTIONID])
REFERENCES [dbo].[TRANSACTION] ([TRANSACTIONID])
GO
ALTER TABLE [dbo].[REMB_TRANSACT] CHECK CONSTRAINT [FK_REMB_TRA_TRAQUER2_TRANSACT]
GO
ALTER TABLE [dbo].[REMBOURSEMENT]  WITH CHECK ADD  CONSTRAINT [FK_REMBOURS_DONNER_LITIGE] FOREIGN KEY([LITIGEID])
REFERENCES [dbo].[LITIGE] ([LITIGEID])
GO
ALTER TABLE [dbo].[REMBOURSEMENT] CHECK CONSTRAINT [FK_REMBOURS_DONNER_LITIGE]
GO
ALTER TABLE [dbo].[REMPLACEMENT]  WITH CHECK ADD  CONSTRAINT [FK_REMPLACE_ENVOYER_LITIGE] FOREIGN KEY([LITIGEID])
REFERENCES [dbo].[LITIGE] ([LITIGEID])
GO
ALTER TABLE [dbo].[REMPLACEMENT] CHECK CONSTRAINT [FK_REMPLACE_ENVOYER_LITIGE]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_PARTENAIRE_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[PARTENAIRE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_PARTENAIRE_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_PARTENAIRE_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[PARTENAIRE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_PARTENAIRE_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_PARTENAIRE_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[PARTENAIRE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_PARTENAIRE_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
USE [master]
GO
