@page
@model E_Shop.Pages.MaBoutique.GestionBoutique.GestionBoutiqueModel
@{
}
<form method="post">
    <a href="/MaBoutique/GestionBoutique/Description" class="btn btn-primary">Modifier la description de votre Boutique</a>
    <a href="/MaBoutique/GestionBoutique/InformationsBancaires" class="btn btn-primary">Modifier les informations bancaires de votre Boutique</a>
    <a href="/MaBoutique/GestionBoutique/Medias" class="btn btn-primary">Modifier les images de votre Boutique</a>
    <a href="/MaBoutique/GestionBoutique/Adresse" class="btn btn-primary">Modifier l'adresse de votre Boutique</a>
</form>