@page
@model E_Shop.Pages.MaBoutique.GestionBoutique.GestionBoutiqueModel
@{
}
<form method="post">
    <button type="submit" asp-page-handler="Description" class="btn btn-primary">Modifier la description de votre Boutique</button>
    <button type="submit" asp-page-handler="InfosBancaires" class="btn btn-primary">Modifier les informations bancaires de votre Boutique</button>
    <button type="submit" asp-page-handler="Images" class="btn btn-primary">Modifier les images de votre Boutique</button>
    <button type="submit" asp-page-handler="Adresse" class="btn btn-primary">Modifier l'adresse de votre Boutique</button>
</form>