@page
@model E_Shop.Pages.MaBoutique.GestionBoutique.MediasModel
@{
}
<form method="post">
    <button type="submit" asp-page-handler="ImgPrincipale" class="btn btn-primary">Modifier l'image principale de votre Boutique</button>
    <button type="submit" asp-page-handler="ImgSecondaire" class="btn btn-primary">Modifier l'image secondaire de votre Boutique</button>
    <button type="submit" asp-page-handler="Video" class="btn btn-primary">Modifier la vidéo de votre Boutique</button>
</form>