@page
@model E_Shop.Pages.MaBoutique.TableauDeBordModel
@{
}
<form method="post">
    <button type="submit" asp-page-handler="LivraisonType" class="btn btn-primary">Gestion de vos types de livraison</button>
    <button type="submit" asp-page-handler="Pdr" class="btn btn-primary">Gestion des points relais de votre Boutique</button>
    <button type="submit" asp-page-handler="GestionProd" class="btn btn-primary">Gestion de vos Produits</button>
    <button type="submit" asp-page-handler="GestionBout" class="btn btn-primary">Gestion de votre Boutique</button>
    <button type="submit" asp-page-handler="HistoCmd" class="btn btn-primary">Historique de vos Commandes</button>
</form>