@page
@model E_Shop.Pages.MaBoutique.TableauDeBordModel
@{
}
<form method="post">
    <button type="submit" asp-page-handler="LivraisonType" class="btn btn-primary">Ajouter des types de livraison</button>
    <button type="submit" asp-page-handler="GestionProd" class="btn btn-primary">Gestion de vos Produits</button>

</form>