@page
@model E_Shop.Pages.MonPanier.PanierModel
@{
}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Votre Panier
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Boutique
                    </div>
                    <div class="card-body">
                        Produit
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Resumé
            </div>
            <div class="card-body">
                montant
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Blalaalla
            </div>
            <div class="card-body">
                balala
            </div>
        </div>
    </div>
</div>