@page
@model E_Shop.Pages.Boutique.CreateBoutiqueStep7Model
@{
}
<div>(facultatif) Ajouter un point relais ou passez à l'étape suivante</div>

<div  class="row justify-content-center">
    <div>
        <form method="post">
            <h4> Point relais </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="step7.PrNom"></label>
                <input asp-for="step7.PrNom" class="form-control" />
                <span asp-validation-for="step7.PrNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Rue"></label>
                <input asp-for="step7.Rue" class="form-control" />
                <span asp-validation-for="step7.Rue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Num"></label>
                <input asp-for="step7.Num" class="form-control" />
                <span asp-validation-for="step7.Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Codepostal"></label>
                <input id="tbCp" asp-for="step7.Codepostal" class="form-control" />
                <span asp-validation-for="step7.Codepostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Ville"></label>
                <input asp-for="step7.Ville" class="form-control" />
                <span asp-validation-for="step7.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="tbDept" asp-for="step7.Departement" class="form-control" hidden />
            </div>

            <button type="submit" asp-page-handler="Next" class="btn btn-primary">Suivant</button>
            <button type="submit" asp-page-handler="Back" class="btn btn-primary">Précédent</button>

        </form>
    </div>
</div>
@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            document.getElementById("tbCp").addEventListener("keyup", GetDept);

            function GetDept() {
                if (document.getElementById("tbCp").value.length == 5) {
                    console.log(document.getElementById("tbCp").value[0])
                    var xhttp = new XMLHttpRequest();
                    xhttp.responseType = 'json';
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            console.log(xhttp.response);
                            document.getElementById("tbDept").value = xhttp.response.nom;
                        }
                        else {
                            console.log(xhttp.status);
                        }
                    };
                    xhttp.open("GET", "https://geo.api.gouv.fr/departements/" + document.getElementById("tbCp").value[0] + document.getElementById("tbCp").value[1], true);
                    xhttp.send();
                }

            }
            
        });

    </script>
}