@page
@model E_Shop.Pages.Boutique.CreateBoutiqueStep3Model
@{
}
<div class="row justify-content-center">
    <div>
        <form asp-action="Step3">
            <h4> Etape 1 </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="step3.Numcompte"></label>
                <input asp-for="step3.Numcompte" class="form-control" />
                <span asp-validation-for="step3.Numcompte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Titulaire"></label>
                <input asp-for="step3.Titulaire" class="form-control" />
                <span asp-validation-for="step3.Titulaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Codebanque"></label>
                <input asp-for="step3.Numcompte" class="form-control" />
                <span asp-validation-for="step3.Numcompte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Codebanque"></label>
                <input asp-for="step3.Codebanque" class="form-control" />
                <span asp-validation-for="step3.Codebanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Codeguichet"></label>
                <input asp-for="step3.Codeguichet" class="form-control" />
                <span asp-validation-for="step3.Codeguichet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Domiciliation"></label>
                <input asp-for="step3.Domiciliation" class="form-control" />
                <span asp-validation-for="step3.Domiciliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Iban"></label>
                <input asp-for="step3.Iban" class="form-control" />
                <span asp-validation-for="step3.Iban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Bic"></label>
                <input asp-for="step3.Bic" class="form-control" />
                <span asp-validation-for="step3.Bic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step3.Clerib"></label>
                <input asp-for="step3.Clerib" class="form-control" />
                <span asp-validation-for="step3.Clerib" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Suivant</button>
        </form>
    </div>
</div>