@page
@model E_Shop.Pages.Boutique.CreateBoutiqueStep6Model
@{
}

<div class="row justify-content-center">
    <div>
        <form method="post">
            <h4> Etape 6 </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="step6.Rue"></label>
                <input asp-for="step6.Rue" class="form-control" />
                <span asp-validation-for="step6.Rue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step6.Num"></label>
                <input asp-for="step6.Num" class="form-control" />
                <span asp-validation-for="step6.Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step6.Codepostal"></label>
                <input asp-for="step6.Codepostal" class="form-control" />
                <span asp-validation-for="step6.Codepostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step6.Ville"></label>
                <input asp-for="step6.Ville" class="form-control" />
                <span asp-validation-for="step6.Ville" class="text-danger"></span>
            </div>


            <button id="btnNext" type="submit" class="btn btn-primary">Suivant</button>
            <button type="submit" asp-page-handler="Back" class="btn btn-primary">Précédent</button>

        </form>
    </div>
</div>


@section scripts
{
    <script>
        //document.addEventListener("DOMContentLoaded", function () {

        //    var xhttp = new XMLHttpRequest();
        //    xhttp.responseType = 'json';
        //    xhttp.onreadystatechange = function () {
        //        if (this.readyState == 4 && this.status == 200) {
        //            LoadEntreprise(xhttp.response);
        //        }
        //        else {
        //            console.log(xhttp.status);
        //        }
        //    };
        //    xhttp.open("GET", "http://api.zippopotam.us/FR/" + CP, true);
        //    xhttp.send();
        //}
    </script>
    }
