@page
@model E_Shop.Pages.Boutique.CreateBoutiqueStep7Model
@{
}
<div>Souhaitez-vous ajouter un point relais ?</div>
<button id="btnOui" class="btn btn-primary">Oui</button>
<form method="post">
    <button id="btnNon" asp-page-handler="Next" type="submit" class="btn btn-primary">Non</button>
</form>
<form method="post">
    <button id="btnNon" asp-page-handler="Back" type="submit" class="btn btn-primary">Précédent</button>
</form>
<div id="formPdr" class="row justify-content-center" hidden>
    <div>
        <form method="post">
            <h4> Etape 7 </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="step7.PrNom"></label>
                <input asp-for="step7.PrNom" class="form-control" />
                <span asp-validation-for="step7.PrNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Rue"></label>
                <input asp-for="step7.Rue" class="form-control" />
                <span asp-validation-for="step7.Rue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Num"></label>
                <input asp-for="step7.Num" class="form-control" />
                <span asp-validation-for="step7.Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Codepostal"></label>
                <input asp-for="step7.Codepostal" class="form-control" />
                <span asp-validation-for="step7.Codepostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="step7.Ville"></label>
                <input asp-for="step7.Ville" class="form-control" />
                <span asp-validation-for="step7.Ville" class="text-danger"></span>
            </div>


            <button id="btnNext" type="submit" class="btn btn-primary">Suivant</button>
            <button type="submit" asp-page-handler="Back" class="btn btn-primary">Précédent</button>

        </form>
    </div>
</div>
@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("btnOui").addEventListener("click", function () {
                document.getElementById("formPdr").removeAttribute("hidden");
            })
            document.getElementById("btnNon").addEventListener("click", function () {
                document.getElementById("formPdr").hidden = true;;
            })
            
        });

    </script>
}