@page
@model E_Shop.Pages.MaBoutique.Produit.EditFormatProduitModel
@{
}
<div class="row justify-content-center">
    <div>
        <form method="post">
            <h4> Point relais </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="input.litre"></label>
                <input id="money3" asp-for="input.litre" class="form-control" />
                <span asp-validation-for="input.litre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="input.poids"></label>
                <input id="money2" asp-for="input.poids" class="form-control" />
                <span asp-validation-for="input.poids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="input.prix"></label>
                <input id="money1" asp-for="input.prix" class="form-control" />
                <span asp-validation-for="input.prix" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Valider</button>

        </form>
    </div>
</div>
@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("money1").addEventListener("keyup", format);

            function format() {
                if (document.getElementById("money1").value!=null) {
                    var str = document.getElementById("money1").value;
                    var result = str.replace(".", ",");
                    document.getElementById("money1").value = result;
                }
                if (document.getElementById("money2").value != null) {
                    var str = document.getElementById("money2").value;
                    var result = str.replace(".", ",");
                    document.getElementById("money2").value = result;
                }
                if (document.getElementById("money3").value != null) {
                    var str = document.getElementById("money3").value;
                    var result = str.replace(".", ",");
                    document.getElementById("money3").value = result;
                }
            }

        });
    </script>
}