@page
@model E_Shop.Pages.MaBoutique.Produit.MediaModel
@{
}
<form method="post" enctype="multipart/form-data">
    <h4> Téléchargez l'image de votre Produit </h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FileNameImg"></label>
        <input type="file" name="photo" accept="image/*" asp-for="FileNameImg" class="form-control" />
        <span asp-validation-for="FileNameImg" class="text-danger"></span>
    </div>
    <button type="submit" asp-page-handler="Img" class="btn btn-primary">Envoyer</button>
</form>
@if (Model.Lien != null)
{
    <span>
        <img src="@Model.Lien" />
    </span>
    <a href="/MaBoutique/Produit/GestionProduit" class="btn btn-primary">Valider</a>
}

