@page
@model E_Shop.Pages.Categorie.CreateCategorieModel
@{
}
<div class="row justify-content-center">
    <div>
        <form method="post">
            <h4> Créer une Catégorie </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="input.Categorienom"></label>
                <input asp-for="input.Categorienom" class="form-control" />
                <span asp-validation-for="input.Categorienom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="input.Categorieid" asp-items="Model.Options">
                    <option value="">Choisir Catégorie parent</option>
                </select>
            </div>

            <button id="btnNext" type="submit" asp-page-handler="Add" class="btn btn-primary">Créer la catégorie</button>
            <button type="submit" asp-page-handler="Back" class="btn btn-primary">Précédent</button>

        </form>
    </div>
</div>
