@page
@model E_Shop.Pages.MaBoutique.LivraisonType.EditLivraisonTypeModel
@{
}
<div class="row justify-content-center">
    <div>
        <form method="post" lang="fr-fr">
            <h4> Choix du Type de Livraison </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <select asp-for="input.Designation" asp-items="Model.Options">
                    <option value="">Choisir un type de livraison</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="input.LvrDelai"></label>
                <input min="0" asp-for="input.LvrDelai" class="form-control" />
                <span asp-validation-for="input.LvrDelai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="input.LvrCout"></label>
                <input id="money1" asp-for="input.LvrCout" class="form-control" />
                <span asp-validation-for="input.LvrCout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="input.LvrCoutPsup"></label>
                <input id="money2" asp-for="input.LvrCoutPsup" value="" class="form-control" />
                <span asp-validation-for="input.LvrCoutPsup" class="text-danger"></span>
            </div>

            <button type="submit" asp-page-handler="Add" class="btn btn-primary">Valider</button>

        </form>
    </div>
</div>
@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("money1").addEventListener("keyup", format);
            document.getElementById("money2").addEventListener("keyup", format);

            function format() {
                console.log("format");
                console.log(document.getElementById("money1").value);
                if (document.getElementById("money1").value!=null) {
                    var str = document.getElementById("money1").value;
                    var result = str.replace(".", ",");
                    console.log(result);
                    document.getElementById("money1").value = result;
                }
                if (document.getElementById("money2").value != null) {
                    var str = document.getElementById("money2").value;
                    var result = str.replace(".", ",");
                    document.getElementById("money2").value = result;
                }
            }

        });
    </script>
}