@page
@model E_Shop.Pages.MaBoutique.LivraisonType.EditLivraisonTypeModel
@{
}
<div class="row justify-content-center">
    <div>
        <form method="post">
            <h4> Choix du Type de Livraison </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <select asp-for="input.Designation" asp-items="Model.Options">
                    <option value="">Choisir un type de livraison</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="input.LvrDelai"></label>
                <input asp-for="input.LvrDelai" class="form-control" />
                <span asp-validation-for="input.LvrDelai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="input.LvrCout"></label>
                <input asp-for="input.LvrCout" class="form-control" />
                <span asp-validation-for="input.LvrCout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="input.LvrCoutPsup"></label>
                <input asp-for="input.LvrCoutPsup" class="form-control" />
                <span asp-validation-for="input.LvrCoutPsup" class="text-danger"></span>
            </div>

            <button id="btnNext" type="submit" class="btn btn-primary">Suivant</button>
            <button type="submit" asp-page-handler="Add" class="btn btn-primary">Ajouter</button>

        </form>
    </div>
</div>