@page
@model E_Shop.Pages.MaBoutique.LivraisonType.GestionLivraisonTypeModel
@{
}
<form method="post">
    <button type="submit" asp-page-handler="CrLivraisonType" class="btn btn-primary">Ajouter un nouveau type de livraison</button>
</form>